In [1]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')


pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', -1)

In [2]:
deliveries = pd.read_csv('deliveries_updated.csv')

In [3]:
df = deliveries.copy()

In [4]:
df.head(2)

   matchId  inning  over_ball  over  ball         batting_team                 bowling_team    batsman non_striker    bowler  batsman_runs  extras  isWide  isNoBall  Byes  LegByes  Penalty dismissal_kind player_dismissed
0  1082591  1       0.1        0     1     Sunrisers Hyderabad  Royal Challengers Bangalore  DA Warner  S Dhawan    TS Mills  0             0      NaN     NaN       NaN   NaN      NaN       NaN            NaN
1  1082591  1       0.2        0     2     Sunrisers Hyderabad  Royal Challengers Bangalore  DA Warner  S Dhawan    TS Mills  0             0      NaN     NaN       NaN   NaN      NaN       NaN            NaN

In [6]:
f1 = lambda x: x*x

In [7]:
f1(3)

9

In [8]:
df['isDot'] = df['batsman_runs'].apply(lambda x : 1 if x == 0 else 0)
df['isOne'] = df['batsman_runs'].apply(lambda x : 1 if x == 1 else 0)
df['isTwo'] = df['batsman_runs'].apply(lambda x : 1 if x == 2 else 0)
df['isThree'] = df['batsman_runs'].apply(lambda x : 1 if x == 3 else 0)
df['isFour'] = df['batsman_runs'].apply(lambda x : 1 if x == 4 else 0)
df['isSix'] = df['batsman_runs'].apply(lambda x : 1 if x == 6 else 0)

In [10]:
df.head(1)

   matchId  inning  over_ball  over  ball         batting_team                 bowling_team    batsman non_striker    bowler  batsman_runs  extras  isWide  isNoBall  Byes  LegByes  Penalty dismissal_kind player_dismissed  isDot  isOne  isTwo  isThree  isFour  isSix
0  1082591  1       0.1        0     1     Sunrisers Hyderabad  Royal Challengers Bangalore  DA Warner  S Dhawan    TS Mills  0             0      NaN     NaN       NaN   NaN      NaN       NaN            NaN              1      0      0      0        0       0

In [11]:
df['batsman'].unique()

array(['DA Warner', 'S Dhawan', 'MC Henriques', 'Yuvraj Singh',
       'DJ Hooda', 'BCJ Cutting', 'CH Gayle', 'Mandeep Singh', 'TM Head',
       'KM Jadhav', 'SR Watson', 'Sachin Baby', 'STR Binny', 'S Aravind',
       'YS Chahal', 'TS Mills', 'A Choudhary', 'PA Patel', 'JC Buttler',
       'RG Sharma', 'N Rana', 'AT Rayudu', 'KH Pandya', 'KA Pollard',
       'HH Pandya', 'TG Southee', 'AM Rahane', 'MA Agarwal', 'SPD Smith',
       'BA Stokes', 'MS Dhoni', 'JJ Roy', 'BB McCullum', 'SK Raina',
       'AJ Finch', 'KD Karthik', 'G Gambhir', 'CA Lynn', 'MK Tiwary',
       'DT Christian', 'HM Amla', 'M Vohra', 'WP Saha', 'AR Patel',
       'GJ Maxwell', 'DA Miller', 'Vishnu Vinod', 'Iqbal Abdulla',
       'P Negi', 'AP Tare', 'SW Billings', 'KK Nair', 'SV Samson',
       'RR Pant', 'CH Morris', 'CR Brathwaite', 'PJ Cummins', 'A Mishra',
       'S Nadeem', 'Z Khan', 'DR Smith', 'DS Kulkarni', 'P Kumar',
       'Basil Thampi', 'RV Uthappa', 'MK Pandey', 'YK Pathan', 'SA Yadav',
       'CR Woakes', 'SP Narine', 'Harbhajan Singh', 'AB de Villiers',
       'CJ Anderson', 'F du Plessis', 'RA Tripathi', 'R Bhatia',
       'DL Chahar', 'A Zampa', 'AB Dinda', 'Imran Tahir', 'NV Ojha',
       'V Shankar', 'Rashid Khan', 'B Kumar', 'MP Stoinis', 'MM Sharma',
       'VR Aaron', 'V Kohli', 'MJ McClenaghan', 'Ankit Sharma',
       'SN Thakur', 'RD Chahar', 'LH Ferguson', 'C de Grandhomme',
       'Bipul Sharma', 'SS Iyer', 'EJG Morgan', 'KC Cariappa',
       'Sandeep Sharma', 'Ishan Kishan', 'JD Unadkat', 'AF Milne',
       'S Badree', 'AD Mathews', 'Mohammed Shami', 'Mohammad Nabi',
       'I Sharma', 'RA Jadeja', 'AJ Tye', 'KS Williamson', 'SE Marsh',
       'Shakib Al Hasan', 'JP Faulkner', 'MG Johnson', 'K Rabada',
       'AD Nath', 'NM Coulter-Nile', 'Kuldeep Yadav', 'UT Yadav',
       'Washington Sundar', 'KV Sharma', 'DM Bravo', 'AR Bawne',
       'SP Jackson', 'MJ Guptill', 'Anureet Singh', 'IK Pathan',
       'Ankit Soni', 'JJ Bumrah', 'SL Malinga', 'PJ Sangwan', 'S Kaul',
       'LMP Simmons', 'MN Samuels', 'Swapnil Singh', 'R Tewatia',
       'MM Patel', 'SS Tiwary', 'TA Boult', 'CJ Jordan', 'IR Jaggi',
       'PP Chawla', 'AS Rajpoot', 'E Lewis', 'DJ Bravo', 'MA Wood',
       'C Munro', 'KL Rahul', 'Q de Kock', 'SN Khan', 'RK Singh',
       'AD Russell', 'R Vinay Kumar', 'DJM Short', 'K Gowtham', 'S Gopal',
       'B Laughlin', 'TK Curran', 'M Markande', 'B Stanlake', 'R Ashwin',
       'Mujeeb Ur Rahman', 'A Dananjaya', 'Shubman Gill', 'Shivam Mavi',
       'M Vijay', 'Mohammed Siraj', 'H Klaasen', 'RK Bhui', 'JC Archer',
       'BB Sran', 'PP Shaw', 'LE Plunkett', 'Mustafizur Rahman',
       'AD Hales', 'MK Lomror', 'JP Duminy', 'M Ashwin', 'DR Shorey',
       'MM Ali', 'M Prasidh Krishna', 'HV Patel', 'P Chopra',
       'JPR Scantlebury-Searles', 'Abhishek Sharma', 'IS Sodhi',
       'SP Goswami', 'SO Hetmyer', 'S Dube', 'NA Saini', 'JM Bairstow',
       'CA Ingram', 'KMA Paul', 'Rasikh Salam', 'N Pooran', 'NS Naik',
       'GH Vihari', 'P Ray Barman', 'SM Curran', 'GC Viljoen',
       'Avesh Khan', 'S Lamichhane', 'HF Gurney', 'SD Lad', 'AS Joseph',
       'R Parag', 'MJ Santner', 'JL Denly', 'LS Livingstone', 'KK Ahmed',
       'AJ Turner', 'Harpreet Brar', 'SE Rutherford', 'Y Prithvi Raj',
       'Gurkeerat Singh', 'P Simran Singh', 'J Suchith', 'JL Pattinson',
       'A Nortje', 'T Banton', 'D Padikkal', 'YBK Jaiswal', 'RD Gaikwad',
       'TU Deshpande', 'Abdul Samad', 'JO Holder', 'PK Garg',
       'JR Philippe', 'Kartik Tyagi', 'KL Nagarkoti', 'CV Varun',
       'I Udana', 'JDS Neesham', 'Ravi Bishnoi', 'Shahbaz Ahmed',
       'AT Carey', 'DW Steyn', 'N Jagadeesan', 'T Natarajan', 'MR Marsh',
       'P Dubey', 'SS Cottrell', 'Arshdeep Singh', 'DR Sams', 'M Jansen',
       'RM Patidar', 'KA Jamieson', 'M Shahrukh Khan', 'JA Richardson',
       'Lalit Yadav', 'Virat Singh', 'J Yadav', 'FA Allen', 'C Sakariya',
       'DJ Malan', 'KS Bharat', 'PWH de Silva', 'VR Iyer', 'GD Phillips',
       'GHS Garton', 'AK Markram', 'K Yadav', 'T Shamsi', 'NT Ellis',
       'RV Patel', 'TL Seifert', 'Anmolpreet Singh', 'Anuj Rawat',
       'TH David', 'SC Ganguly', 'RT Ponting', 'DJ Hussey',
       'Mohammad Hafeez', 'R Dravid', 'W Jaffer', 'JH Kallis', 'CL White',
       'MV Boucher', 'B Akhil', 'AA Noffke', 'SB Joshi', 'ML Hayden',
       'MEK Hussey', 'JDP Oram', 'S Badrinath', 'K Goel', 'JR Hopes',
       'KC Sangakkara', 'SM Katich', 'T Kohli', 'M Kaif', 'DS Lehmann',
       'M Rawat', 'D Salunkhe', 'SK Warne', 'SK Trivedi', 'V Sehwag',
       'L Ronchi', 'ST Jayasuriya', 'DJ Thornely', 'PR Shah', 'AM Nayar',
       'SM Pollock', 'S Chanderpaul', 'LRPL Taylor', 'AC Gilchrist',
       'Y Venugopal Rao', 'VVS Laxman', 'A Symonds', 'SB Styris',
       'AS Yadav', 'SB Bangar', 'WPUJC Vaas', 'RP Singh', 'LR Shukla',
       'DPMD Jayawardene', 'S Sohal', 'B Lee', 'WA Mota', 'Kamran Akmal',
       'Shahid Afridi', 'MA Khote', 'A Nehra', 'GC Smith', 'Pankaj Singh',
       'RR Sarwan', 'S Sreesanth', 'VRV Singh', 'AB Agarkar', 'M Kartik',
       'Shoaib Malik', 'MF Maharoof', 'VY Mahesh', 'TM Srivastava',
       'B Chipli', 'DB Das', 'HH Gibbs', 'DNT Zoysa', 'D Kalyankrishna',
       'SA Asnodkar', 'Sohail Tanvir', 'Salman Butt', 'BJ Hodge',
       'Umar Gul', 'SP Fleming', 'S Vidyut', 'JA Morkel', 'LPC Silva',
       'DB Ravi Teja', 'Misbah-ul-Haq', 'YV Takawale', 'RR Raje',
       'Mohammad Asif', 'GD McGrath', 'Joginder Sharma', 'MS Gony',
       'M Muralitharan', 'M Ntini', 'DT Patil', 'A Kumble', 'S Anirudha',
       'CK Kapugedera', 'A Chopra', 'T Taibu', 'J Arunkumar', 'PP Ojha',
       'SR Tendulkar', 'U Kaul', 'TM Dilshan', 'AD Mascarenhas',
       'Niraj Patel', 'LA Pomersbach', 'Younis Khan', 'PM Sarvesh Kumar',
       'DP Vijaykumar', 'Shoaib Akhtar', 'Abdur Razzak', 'H Das',
       'SD Chitnis', 'CRD Fernando', 'VS Yeligati', 'L Balaji',
       'A Mukund', 'RR Powar', 'A Flintoff', 'T Thushara', 'JD Ryder',
       'KP Pietersen', 'T Henderson', 'Kamran Khan', 'RS Bopara',
       'R Bishnoi', 'FH Edwards', 'PC Valthaty', 'RJ Quiney', 'AS Raut',
       'Yashpal Singh', 'M Manhas', 'AA Bilakhia', 'AN Ghosh',
       'BAW Mendis', 'DL Vettori', 'MN van Wyk', 'RE van der Merwe',
       'TL Suman', 'Shoaib Ahmed', 'GR Napier', 'KP Appanna',
       'LA Carseldine', 'SM Harwood', 'SB Jakati', 'RJ Harris',
       'D du Preez', 'M Morkel', 'J Botha', 'C Nanda', 'Mashrafe Mortaza',
       'A Singh', 'GJ Bailey', 'AB McDonald', 'Y Nagar', 'SS Shaikh',
       'Mohammad Ashraful', 'CA Pujara', 'OA Shah', 'Anirudh Singh',
       'Jaskaran Singh', 'R Sathish', 'R McLaren', 'AA Jhunjhunwala',
       'P Dogra', 'A Uniyal', 'MS Bisla', 'YA Abdulla', 'JM Kemp',
       'S Tyagi', 'RS Gavaskar', 'SE Bond', 'S Ladda', 'DP Nannes',
       'MJ Lumb', 'DR Martyn', 'S Narwal', 'AB Barath', 'FY Fazal',
       'AC Voges', 'MD Mishra', 'J Theron', 'SJ Srivastava', 'R Sharma',
       'SW Tait', 'KB Arun Karthik', 'KAJ Roach', 'PD Collingwood',
       'CK Langeveldt', 'VS Malik', 'A Mithun', 'AP Dole', 'AN Ahmed',
       'RS Sodhi', 'DE Bollinger', 'S Sriram', 'B Sumanth', 'C Madan',
       'AG Paunikar', 'Harmeet Singh', 'RV Gomez', 'AUK Pathan',
       'UBT Chand', 'DJ Jacobs', 'Sunny Singh', 'NJ Rimmington',
       'AL Menaria', 'WD Parnell', 'JJ van der Wath', 'R Ninan',
       'MS Wade', 'TD Paine', 'SB Wagh', 'AC Thomas', 'JEC Franklin',
       'DH Yagnik', 'S Randiv', 'BJ Haddin', 'NLTC Perera', 'NL McCullum',
       'JE Taylor', 'J Syed Mohammad', 'RN ten Doeschate', 'TR Birt',
       'AG Murtaza', 'Harpreet Singh', 'M Klinger', 'AC Blizzard',
       'I Malhotra', 'L Ablish', 'P Parameswaran', 'CJ Ferguson',
       'AA Chavan', 'ND Doshi', 'Y Gnaneswara Rao', 'S Rana', 'BA Bhatt',
       'RE Levi', 'KK Cooper', 'DAJ Bracewell', 'DJ Harris', 'GB Hogg',
       'RR Bhatkal', 'CJ McKay', 'N Saini', 'Azhar Mahmood',
       'RJ Peterson', 'KMDN Kulasekara', 'A Ashish Reddy',
       'V Pratap Singh', 'BB Samantray', 'MJ Clarke', 'AP Majumdar',
       'PA Reddy', 'K Upadhyay', 'P Awana', 'A Chandila', 'Sunny Gupta',
       'MC Juneja', 'MDKJ Perera', 'R Shukla', 'BMAJ Mendis', 'R Rampaul',
       'SMSM Senanayake', 'BJ Rohrer', 'R Dhawan', 'LJ Wright',
       'IC Pandey', 'CM Gautam', 'X Thalaivan Sargunam', 'DJG Sammy',
       'KW Richardson', 'UA Birla', 'Parvez Rasool', 'PV Tambe',
       'NJ Maddinson', 'MA Starc', 'BR Dunk', 'RR Rossouw',
       'Shivam Sharma', 'VH Zol', 'BE Hendricks', 'M de Lange',
       'Karanveer Singh', 'SA Abbott', 'RG More', 'D Wiese',
       'DJ Muthuswami', 'P Sahu', 'KJ Abbott', 'PSP Handscomb',
       'UT Khawaja', 'F Behardien', 'S Kaushik', 'ER Dwivedi'],
      dtype=object)

In [12]:
len(df['batsman'].unique())

561

In [14]:
df.groupby(['batsman'])['batsman_runs'].sum().head(5)

batsman
A Ashish Reddy    280
A Chandila        4
A Chopra          53
A Choudhary       25
A Dananjaya       4
Name: batsman_runs, dtype: int64

In [15]:
df.groupby(['batsman'])['batsman_runs'].mean().head(5)

batsman
A Ashish Reddy    1.428571
A Chandila        0.571429
A Chopra          0.706667
A Choudhary       1.250000
A Dananjaya       0.800000
Name: batsman_runs, dtype: float64

In [18]:
df.groupby(['batsman', 'matchId'])['batsman_runs'].sum().head(5)

batsman         matchId
A Ashish Reddy  548346     10
                548352     3
                548359     8
                548373     10
                548376     4
Name: batsman_runs, dtype: int64

In [20]:
df[df.batsman == 'DA Warner'].groupby(['batsman', 'matchId'])['batsman_runs'].sum().head(5)

batsman    matchId
DA Warner  392206     51
           392211     36
           392215     21
           392219     36
           392223     4
Name: batsman_runs, dtype: int64

In [22]:
# What is David Warner's score in every match
# 3 things = df, groupby columns, aggregate functions
# df[df.batsman == 'DA Warner'].groupby(['batsman', 'matchId'])['batsman_runs'].sum().head(5)

In [23]:
# What are the score of different batsman in each match
# 3 things = df, groupby columns, aggregate functions
df.groupby(['matchId','batsman' ])['batsman_runs'].sum().head(5)

matchId  batsman
335982   AA Noffke      9
         B Akhil        0
         BB McCullum    158
         CL White       6
         DJ Hussey      12
Name: batsman_runs, dtype: int64

In [26]:
pd.DataFrame(df.groupby(['batsman'])['batsman_runs'].sum()).head(5)

                batsman_runs
batsman
A Ashish Reddy  280
A Chandila      4
A Chopra        53
A Choudhary     25
A Dananjaya     4

In [29]:
pd.DataFrame(df.groupby(['batsman'])['batsman_runs'].sum()).sort_values(by = 'batsman_runs', ascending = False).head(10)

                batsman_runs
batsman
V Kohli         6293
S Dhawan        5784
RG Sharma       5613
SK Raina        5536
DA Warner       5451
AB de Villiers  5181
CH Gayle        4997
MS Dhoni        4746
RV Uthappa      4724
G Gambhir       4217