In [6]:
import pandas

In [7]:
import pandas as pd

In [8]:
# pandas : func1, func2, func3, var1, var2, var3
# f = pd.func1

In [9]:
# csv, excel, json

In [10]:
# players = 'Krunal', 'Hardik', 'Pollard'
# runs = 15, 23, 47

In [11]:
pd.DataFrame({'players': ['vk', 'msd', 'a'], 'runs':[15, 23, 47]})

  players  runs
0      vk    15
1     msd    23
2       a    47

In [12]:
pd.DataFrame({'players': ['vk', 'msd', 'abd'], 'runs':[15, 23, 47], 'balls':[10, 20, 17]})

  players  runs  balls
0      vk    15     10
1     msd    23     20
2     abd    47     17

In [13]:
df = pd.DataFrame({'players': ['vk', 'msd', 'abd'], 'runs':[15, 23, 47], 'balls':[10, 20, 17]})

In [14]:
df

  players  runs  balls
0      vk    15     10
1     msd    23     20
2     abd    47     17

In [15]:
# how many runs did the player score?
# how many runs did the abd score?

In [16]:
df['players']

0     vk
1    msd
2    abd
Name: players, dtype: object

In [17]:
df['balls']

0    10
1    20
2    17
Name: balls, dtype: int64

In [18]:
df['runs']

0    15
1    23
2    47
Name: runs, dtype: int64

In [19]:
df[['players', 'runs']]

  players  runs
0      vk    15
1     msd    23
2     abd    47

In [20]:
df[['players', 'balls']]

  players  balls
0      vk     10
1     msd     20
2     abd     17

In [21]:
cols_list = ['players', 'runs']
cols_list_2 = ['players', 'balls']

In [22]:
df[cols_list]

  players  runs
0      vk    15
1     msd    23
2     abd    47

In [23]:
df[cols_list_2]

  players  balls
0      vk     10
1     msd     20
2     abd     17

In [24]:
df.players

0     vk
1    msd
2    abd
Name: players, dtype: object

In [26]:
list(df.players)[1]

'msd'

In [27]:
type(df.players)

pandas.core.series.Series

In [28]:
# df.iloc, df.loc

In [29]:
df.iloc[1, 0]

'msd'

In [30]:
df.iloc[1, 1]

23

In [31]:
df[(df.players == 'msd')]

  players  runs  balls
1     msd    23     20

In [32]:
df[(df.players == 'msd')].runs

1    23
Name: runs, dtype: int64