In [2]:
import pulp
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# to ignore the warnings
import warnings
warnings.filterwarnings('ignore')


#to display all rows columns 
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', -1)

In [3]:
df = pd.read_csv('T20_ball_by_ball_updated.csv')

In [4]:
df.head()

   match_id   season  start_date      venue  innings  ball batting_team bowling_team       striker   non_striker     bowler  runs_off_bat  extras  wides  noballs  byes  legbyes  penalty wicket_type player_dismissed  other_wicket_type  other_player_dismissed
0  211048    2004/05  2005-02-17  Eden Park  1        0.1   Australia    New Zealand  AC Gilchrist  MJ Clarke     DR Tuffey  0             1       1.0   NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN
1  211048    2004/05  2005-02-17  Eden Park  1        0.2   Australia    New Zealand  AC Gilchrist  MJ Clarke     DR Tuffey  0             1      NaN    NaN      NaN    1.0     NaN       NaN         NaN             NaN                NaN
2  211048    2004/05  2005-02-17  Eden Park  1        0.3   Australia    New Zealand  MJ Clarke     AC Gilchrist  DR Tuffey  0             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN
3  211048    2004/05  2005-02-17  Eden Park  1        0.4   Australia    New Zealand  MJ Clarke     AC Gilchrist  DR Tuffey  1             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN
4  211048    2004/05  2005-02-17  Eden Park  1        0.5   Australia    New Zealand  AC Gilchrist  MJ Clarke     DR Tuffey  1             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN

In [5]:
df.batting_team.head()

0    Australia
1    Australia
2    Australia
3    Australia
4    Australia
Name: batting_team, dtype: object

In [6]:
df.bowling_team.head()

0    New Zealand
1    New Zealand
2    New Zealand
3    New Zealand
4    New Zealand
Name: bowling_team, dtype: object

In [7]:
df[(df.batting_team.isin(['New Zealand', 'Ireland'])) & (df.bowling_team.isin(['Ireland', 'New Zealand']))].head()

       match_id season  start_date         venue  innings  ball batting_team bowling_team      striker  non_striker      bowler  runs_off_bat  extras  wides  noballs  byes  legbyes  penalty wicket_type player_dismissed  other_wicket_type  other_player_dismissed
19526  356003    2009   2009-06-11  Trent Bridge  1        0.1   New Zealand  Ireland      BB McCullum  AJ Redmond   PC Connell  1             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN
19527  356003    2009   2009-06-11  Trent Bridge  1        0.2   New Zealand  Ireland      AJ Redmond   BB McCullum  PC Connell  4             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN
19528  356003    2009   2009-06-11  Trent Bridge  1        0.3   New Zealand  Ireland      AJ Redmond   BB McCullum  PC Connell  4             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN
19529  356003    2009   2009-06-11  Trent Bridge  1        0.4   New Zealand  Ireland      AJ Redmond   BB McCullum  PC Connell  0             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN
19530  356003    2009   2009-06-11  Trent Bridge  1        0.5   New Zealand  Ireland      AJ Redmond   BB McCullum  PC Connell  4             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN

In [11]:
df.innings.unique()

array([1, 2, 3, 4], dtype=int64)

In [12]:
df.match_id.unique()

array([ 211048,  211028,  222678, ..., 1298167, 1298168, 1298169],
      dtype=int64)

In [17]:
df.match_id.head()

0     211048
1     211048
2     211048
3     211048
4     211048
5     211048
6     211048
7     211048
8     211048
9     211048
10    211048
11    211048
12    211048
13    211048
14    211048
15    211048
16    211048
17    211048
18    211048
19    211048
Name: match_id, dtype: int64

In [16]:
# define decision variable
pickup_status = pulp.LpVariable.dicts('pickup_status',((obj) for obj in df.index), cat = 'Binary' )

# define objective functionaa
mo = pulp.LpProblem('Profit maximisation problem', pulp.LpMaximize)
mo += pulp.lpSum([pickup_status[obj]*df.loc[(obj),'Profit'] for obj in df.index])

# define constraints
mo += pulp.lpSum([pickup_status[obj]*df.loc[(obj), 'Credits']] for obj in df.index) <= 100

# 11 players
mo += pulp.lpSum([pickup_status[obj]*df.loc[(obj), 'Playing_xi']] for obj in df.index) == 11

# team constraints
mo += pulp.lpSum([pickup_status[obj]*df.loc[(obj), 'Country_New Zealand']] for obj in df.index) >= 4
mo += pulp.lpSum([pickup_status[obj]*df.loc[(obj), 'Country_New Zealand']] for obj in df.index) <= 7

mo += pulp.lpSum([pickup_status[obj]*df.loc[(obj), 'Country_Ireland']] for obj in df.index) >= 4
mo += pulp.lpSum([pickup_status[obj]*df.loc[(obj), 'Country_Ireland']] for obj in df.index) <= 7

# role constraints
mo += pulp.lpSum([pickup_status[obj]*df.loc[(obj), 'Role_Keeper']] for obj in df.index) >= 1
mo += pulp.lpSum([pickup_status[obj]*df.loc[(obj), 'Role_Keeper']] for obj in df.index) <= 4

mo += pulp.lpSum([pickup_status[obj]*df.loc[(obj), 'Role_Batsman']] for obj in df.index) >= 3
mo += pulp.lpSum([pickup_status[obj]*df.loc[(obj), 'Role_Batsman']] for obj in df.index) <= 6

mo += pulp.lpSum([pickup_status[obj]*df.loc[(obj), 'Role_Bowler']] for obj in df.index) >= 3
mo += pulp.lpSum([pickup_status[obj]*df.loc[(obj), 'Role_Bowler']] for obj in df.index) <= 6

mo += pulp.lpSum([pickup_status[obj]*df.loc[(obj), 'Role_Allrounder']] for obj in df.index) >= 1
mo += pulp.lpSum([pickup_status[obj]*df.loc[(obj), 'Role_Allrounder']] for obj in df.index) <= 4

KeyError: 'Profit'

In [12]:
mo.solve()

1

In [15]:
# output as a column in df
df['pickup_status'] = 0

for obj in df.index:
    if pickup_status[obj].varValue:
        df['pickup_status'][obj] = 1

In [17]:
fdf = df[df['pickup_status'] == 1].sort_values(['Role_Batsman', 'Role_Keeper', 'Role_Allrounder', 'Role_Bowler'], ascending = False).reset_index(drop = True)

In [18]:
fdf

       Player Country        Role  Credits  Profit  Role_Allrounder  Role_Batsman  Role_Bowler  Role_Keeper  Country_ENG  Country_IND  Playing_xi  pickup_status
0   H Hameed   ENG     Batsman     8.0      31      0                1             0            0            1            0            1           1
1   J Root     ENG     Batsman     10.5     80      0                1             0            0            1            0            1           1
2   C Pujara   IND     Batsman     9.5      45      0                1             0            0            0            1            1           1
3   A Rahane   IND     Batsman     9.5      34      0                1             0            0            0            1            1           1
4   KL Rahul   IND     Keeper      10.0     60      0                0             0            1            0            1            1           1
5   S Curran   ENG     Allrounder  8.5      30      1                0             0            0            1            0            1           1
6   C Overton  ENG     Allrounder  8.5      40      1                0             0            0            1            0            1           1
7   M Shami    IND     Bowler      9.0      59      0                0             1            0            0            1            1           1
8   I Sharma   IND     Bowler      8.5      35      0                0             1            0            0            1            1           1
9   J Bumrah   IND     Bowler      9.0      38      0                0             1            0            0            1            1           1
10  M Siraj    IND     Bowler      9.0      38      0                0             1            0            0            1            1           1

In [20]:
sum(fdf.Credits)

100.0